registry=https://registry.npmmirror.com/
proxy=
https-proxy=
fetch-retries=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000

only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=core-js
only-built-dependencies[]=core-js-pure
only-built-dependencies[]=esbuild
only-built-dependencies[]=fsevents
only-built-dependencies[]=lmdb
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=nice-napi
