@use 'variable';
@use 'animation';

.#{variable.$prefix}message {
  min-width: 300px;
  border: 1px solid variable.$infoBorderColor;
  position: fixed;
  left: 50%;
  background-color: variable.$infoBgColor;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  overflow: hidden;
  transition: transform 0.4s;
  border-radius: 4px;
  top: 25px;
  box-sizing: border-box;
  margin: 0;
  z-index: 1000;
  &-icon {
    width: 1em;
    height: 1em;
    margin-right: 5px;
  }
  p {
    padding: 0;
    padding-right: 15px;
    line-height: 1;
    font-size: 14px;
    color: variable.$infoColor;
    margin: 0;
  }
  &-close {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: variable.$infoColor;
    font-size: 20px;
    font-style: normal;
    &:hover,
    &:active {
      color: variable.$infoColor;
    }
    &-icon {
      width: 1em;
      height: 1em;
    }
  }
  &-center {
    justify-content: center;
  }
  
  &-loading {
    background-color: variable.$loadingBgColor;
    border-color: variable.$loadingBorderColor;
    p,
    .#{variable.$prefix}message-close {
      color: variable.$loadingColor;
    }
    .#{variable.$prefix}message-close:hover,
    .#{variable.$prefix}message-close:active {
      color: variable.$loadingColor;
    }
    &-icon {
      animation: loadingCircle 1s infinite linear;
      color: variable.$loadingColor;
      @keyframes loadingCircle {
         100% {
           transform: rotate(360deg);
         }
      }
   }
  }

  &-success {
    background-color: variable.$successBgColor;
    border-color: variable.$successBorderColor;
    p,
    .#{variable.$prefix}message-close {
      color: variable.$successColor;
    }
    .#{variable.$prefix}message-close:hover,
    .#{variable.$prefix}message-close:active {
      color: variable.$successColor;
    }
  }
  &-warning {
    background-color: variable.$warningBgColor;
    border-color: variable.$warningBorderColor;
    p,
    .#{variable.$prefix}message-close {
      color: variable.$warningColor;
    }
    .#{variable.$prefix}message-close:hover,
    .#{variable.$prefix}message-close:active {
      color: variable.$warningColor;
    }
  }
  &-error {
    background-color: variable.$errorBgColor;
    border-color: variable.$errorBorderColor;
    p,
    .#{variable.$prefix}message-close {
      color: variable.$errorColor;
    }
    .#{variable.$prefix}message-close:hover,
    .#{variable.$prefix}message-close:active {
      color: variable.$errorColor;
    }
  }
}
