@import './variable.scss';
@import './animation.scss';
.#{$prefix}message {
  min-width: 300px;
  border: 1px solid $infoBorderColor;
  position: fixed;
  left: 50%;
  background-color: $infoBgColor;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  overflow: hidden;
  transition: transform 0.4s;
  border-radius: 4px;
  top: 25px;
  z-index: 10001;
  box-sizing: border-box;
  margin: 0;
  &-icon {
    width: 1em;
    height: 1em;
    margin-right: 5px;
  }
  p {
    padding: 0;
    padding-right: 15px;
    line-height: 1;
    font-size: 14px;
    color: $infoColor;
    margin: 0;
  }
  &-close {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $infoColor;
    font-size: 20px;
    font-style: normal;
    &:hover,
    &:active {
      color: $infoColor;
    }
    &-icon {
      width: 1em;
      height: 1em;
    }
  }
  &-center {
    justify-content: center;
  }
  &-success {
    background-color: $successBgColor;
    border-color: $successBorderColor;
    p,
    .#{$prefix}message-close {
      color: $successColor;
    }
    .#{$prefix}message-close:hover,
    .#{$prefix}message-close:active {
      color: $successColor;
    }
  }
  &-warning {
    background-color: $warningBgColor;
    border-color: $warningBorderColor;
    p,
    .#{$prefix}message-close {
      color: $warningColor;
    }
    .#{$prefix}message-close:hover,
    .#{$prefix}message-close:active {
      color: $warningColor;
    }
  }
  &-error {
    background-color: $errorBgColor;
    border-color: $errorBorderColor;
    p,
    .#{$prefix}message-close {
      color: $errorColor;
    }
    .#{$prefix}message-close:hover,
    .#{$prefix}message-close:active {
      color: $errorColor;
    }
  }
}
