.ew-message {
  min-width: 300px;
  border: 1px solid #ebeef5;
  position: fixed;
  left: 50%;
  background-color: #edf2fc;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  overflow: hidden;
  transition: transform 0.4s;
  border-radius: 4px;
  top: 25px;
  z-index: 10001;
  box-sizing: border-box;
  margin: 0;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  p {
    padding-right: 15px;
    line-height: 1;
    font-size: 14px;
    color: #909399;
  }
  &-close {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #c0c4cc;
    font-size: 16px;
    font-style: normal;
    &:hover,
    &:active {
      color: #909399;
    }
  }
  &-center {
    justify-content: center;
  }
  &-success {
    background-color: #e1f3d8;
    border-color: #e1f3d8;
    p {
      color: #67c23a;
    }
  }
  &-warning {
    background-color: #fdfce6;
    border-color: #faecd8;
    p {
      color: #e6a23c;
    }
  }
  &-error {
    background-color: #fef0f0;
    border-color: #fde2e2;
    p {
      color: #f56c6c;
    }
  }
}
