$infoBorderColor: #ebeef5;
$infoBgColor: #edf2fc;
$infoColor: #909399;
$successBorderColor: #e1f3d8;
$successBgColor: #e1f3d8;
$successColor: #67c23a;
$warningBorderColor: #fdfce6;
$warningBgColor: #faecd8;
$warningColor: #e6a23c;
$errorBorderColor: #fde2e2;
$errorBgColor: #fef0f0;
$errorColor: #f56c6c;
$loadingBorderColor: #9edcf7;
$loadingBgColor: #d7eff9;
$loadingColor: rgba(64, 131, 239, 1);