$infoBorderColor: #81D4FA;   // 更清新的蓝色
$infoBgColor: #B3E5FC;       // 亮丽的蓝色背景
$infoColor: #039BE5;         // 更深的蓝色文字，增强可读性
$successBorderColor: #A5D6A7;  // 柔和的绿色边框
$successBgColor: #C8E6C8;    // 清新的绿色背景
$successColor: #388E3C;      // 更深的绿色文字，增强可读性
$warningBorderColor: #FFCC80; // 温暖的橙色边框
$warningBgColor: #FFECB3;    // 更柔和的黄色背景
$warningColor: #FF9800;      // 更饱和的橙色文字
$errorBorderColor: #FFAB91;   // 更温和的红色边框
$errorBgColor: #FFCCBC;      // 更柔和的红色背景
$errorColor: #D32F2F;        // 更深的红色文字，增强可读性
$loadingBorderColor: #80DEEA; // 清新的浅蓝色边框
$loadingBgColor: #B2EBF2;    // 明亮的浅蓝色背景
$loadingColor: #0288D1;      // 更深的蓝色文字，增强可读性
